<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleFile</key>
	<string>AppIcon</string>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>NSUserNotificationsUsageDescription</key>
	<string>We'll send you a daily reminder to check in with your commitment</string>
</dict>
</plist>
